
.card {
    width: 300px;
    height: auto;
    margin-right: 20px;
    border: 2px solid #ccc; 
    border-radius: 20px; 
    background-color: aliceblue; 
}

#lista {
    display: flex; 
    justify-content: center; 
 }

.card:hover {
    transform: translatey(-10px);  
  }

.title {
   text-align: center;
   font-weight: bold;
   margin-top: 20px;
}

.card-img-top {
    width: 100%;
    height: auto;
    border-radius: 15px; 
}

.list-group-item {
    background-color: rgb(143, 141, 141);
}